@import '../../variables.scss';

.authpage {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80%;
    .tabs {
      display: flex;
      min-width: 400px;
      border: 1px solid $primary;
      border-radius: 5px 5px 0 0;
      border-bottom: none;
      overflow: hidden;
      button {
        flex: 1;
        height: 40px;
        width: 100%;
      }
    }
    .loginform, .registerform {
      width: 400px;
      height: 280px;
      background-color: darken($secondary, 10);
      border: 1px solid $primary;
      border-radius: 0 0 5px 5px;
      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        padding-bottom: 0;
        button {
          border-radius: 5px;
        }
      }
    }
    input {
      width: 70%;
      margin: 8px;
    }
    input.error {
      outline: 1px solid $danger;
    }
    div.error {
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      color: $danger;
    }
  }
}