@import '../../variables.scss';

.filtertodos {
  margin: 5px;
  border: 1px solid $primary;
  border-radius: 5px;
  background-color: darken($secondary, 10);
  button {
    width: 370px;
    border-radius: 5px;
   }
  .select-container {
    width: 300px;
    font-size: 14px;
    font-weight: 600;
  }
  .head {
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: $primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    p {
      margin: 0;
    }
    &:not(.expanded) {
      padding: 10px 15px;
    }
  }
  .body {
    padding: 10px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input, .select, .button {
      flex:0px 1 1;
      height: 40px;
    }
  }
}