$primary: #273c75;
$secondary: #f5f6fa;
$danger: #e84118;

button {
  margin: 8px;
  padding: 5px;
  height: 40px;
  width: 160px;
  border: none;
  outline: none;
  color: $secondary;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: background-color 200ms;
  cursor: pointer;
  &.navbutton {
   border-radius: 0;
    padding: 0;
    margin: 0;
    color: $primary;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 16px;
    height: 100%;
    background-color: darken($secondary, 5); 
    transition: background-color 200ms;
    &.current {
      background-color: $primary;
      color: $secondary;
    }
    &:not(.current) {
      &:hover {
        background-color: lighten($primary, 50); 
        color: $primary;
      }
      &:active {
        background-color: $primary;
        color: $secondary;
        transition: background-color 0ms;
      }
    }
    &:last-child {
      margin-left: auto ;
    }
  }
  &.confirm {
  background-color: lighten($primary, 20);
    &:hover, &:focus-visible {
      background-color: $primary;
    }
    &:active {
      background-color: darken($primary, 20);
      transition: background-color 0ms;
    }
  }
  &.danger {
  background-color: lighten($danger, 20);
    &:hover, &:focus-visible {
      background-color: $danger;
    }
    &:active {
      background-color: darken($danger, 20);
      transition: background-color 0ms;
    }
  }
}

input {
  padding: 8px 20px;
  margin: 5px;
  border-radius: 5px;
  border: none;
  color: $primary;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: background-color 200ms;
  outline: none;
  &:focus {
    outline: 2px solid $primary ;
  }
}

.navbar {
  position: absolute;
  width: 100%;
  height: 60px;
  top: 0;
  left: 0;
  background-color: darken($secondary, 5) ;
  border-bottom: 1px solid $primary;
  .container {
    margin: auto;
    max-width: 1200px;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 26px;
      font-family: 'Roboto';
      font-weight: 700;
      letter-spacing: 1px;
      margin: 0 50px 0 30px;
      height: 100%;
      color: $primary;
    }
  }
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}